
// showing default values
$green = #02212b
$lila = #8266fb
$red = #ff5a8a
$yellow = #ffe875
$dark = #2c3e50
$light = #f4f4f4
$grey = #272822

$accentColor = $green
$textColor = $dark
$borderColor = $light
$codeBgColor = $grey
$badgeTipColor = $lila
$badgeWarningColor = darken($yellow, 35%)
$badgeErrorColor = $red
